*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: orange;
}
.box4 {
  background-color: purple;
}
.box5 {
  background-color: yellow;
}
.box6 {
  background-color: green;
}
.box7 {
  background-color: magenta;
}
.box8 {
  background-color: brown;
}
.box9 {
  background-color: pink;
}
.box10 {
  background-color: maroon;
}

.box {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.container {
  border: 4px solid lightgray;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.box1 {
  align-self: flex-end;
}
